@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* HTML and Body default styles */
  html,
  body {
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }

  /* Font size */
  html {
    font-size: 16px;
  }

}
